@model UpdateBooking
@{
	ViewData["Title"] = "UpdateBooking";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form class="form-valide" method="post">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<div class="card-title">Rezervasyon Güncelleme Sayfası</div>
			</div>

			<div class="card-body">
				<input type="hidden" class="form-control" asp-for="BookingID" placeholder="@Model.BookingID">

				<div class="form-group">
					<label for="text">Ad-Soyad</label>
					<input type="text" class="form-control" asp-for="Name" placeholder="@Model.Name">
				</div>

				<div class="form-group">
					<label for="text">Telefon</label>
					<input type="text" class="form-control" asp-for="Phone" placeholder="@Model.Phone">
				</div>

				<div class="form-group">
					<label for="text">Mail</label>
					<input type="email" class="form-control" asp-for="Mail" placeholder="@Model.Mail">
				</div>

				<div class="form-group">
					<label for="text">Kişi Sayısı</label>
					<input type="text" class="form-control" asp-for="PersonCount" placeholder="@Model.PersonCount">
				</div>

				<div class="form-group">
					<label for="text">Tarih</label>
					<input type="date" class="form-control" asp-for="Date" placeholder="@Model.Date.ToShortDateString() @Model.Date.ToShortTimeString()">
				</div>


			</div>
			<div class="card-action">
				<button class="btn btn-success" type="submit">Güncelle</button>
				<a class="btn btn-danger" href="/Booking/BookingList">Geri</a>
			</div>
		</div>
	</div>
</form>