@model List<BasketsList>
@{
	ViewData["Title"] = "BasketList";
	Layout = "~/Views/Shared/_WebUILayout.cshtml";
	int count = 0;
	decimal Price = 0;
	decimal kdv = 0;
	decimal TotalPrice = 0;

}


<body class="sub_page">

	<div class="hero_area">
		<div class="bg-box">
			<img src="~/feane-1.0.0/images/hero-bg.jpg" alt="">
		</div>
		<!-- header section strats -->
		<header class="header_section">
			<div class="container">
				<nav class="navbar navbar-expand-lg custom_nav-container ">
					<a class="navbar-brand" href="index.html">
						<span>
							Feane
						</span>
					</a>

					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class=""> </span>
					</button>

					@await Component.InvokeAsync("_HomePageNavbarComponent")
				</nav>
			</div>
		</header>
		<!-- end header section -->
	</div>

	<br>
	<div class="container-fluid">
		<div class="row px-xl-5">
			<div class="col-lg-8 table-responsive mb-5">
				<table class="table table-light table-borderless table-hover text-center mb-0">
					<thead class="thead-dark">
						<tr>
							<th>#</th>
							<th>Ürün Adı</th>
							<th>Adet</th>
							<th>Fiyat</th>
							<th>Toplam</th>
							<th>Sil</th>
						</tr>
					</thead>
					@foreach (var item in Model)
					{
						count++;

						Price += item.TotalPrice;

						kdv += item.TotalPrice * (decimal)0.1;

						TotalPrice = kdv + Price;

						<tbody class="align-middle">
							<tr>
								<td class="align-middle">@count</td>
								<td class="align-middle">@item.Products.ProductsName</td>
								<td class="align-middle">@item.Count</td>
								<td class="align-middle">@item.UnitPrice</td>
								<td class="align-middle">@item.TotalPrice</td>
								<td class="align-middle btn-delete"><button onclick="DeleteToBasket(@item.BasketID)" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button></td>
							</tr>
						</tbody>
					}

				</table>
			</div>
			<div class="col-lg-4">
				<form>
					<div class="input-group">
						<input type="text" id="couponcode" class="form-control border-1 p-4" placeholder="Kupon Kodunuz" />
						<div>
							<a style="height:48px;padding-top:11px; margin-left:5px;" class="btn btn-warning" id="btncouponcode">Kuponu Uygula</a>
						</div>
					</div>
				</form>
				<br />

				<h5 class="section-title position-relative text-uppercase mb-3">
					<span class="bg-warning pr-3">Sepet Özeti</span>
				</h5>

				<div class="bg-light p-30 mb-5">
					<div id="container" class="border-bottom pb-2">
						<div class="d-flex justify-content-between mb-3">
							<h6>Toplam Tutar</h6>
							<h6>
								<span id="totalprice">@Price ₺</span>
							</h6>
						</div>

						<div class="d-flex justify-content-between">
							<h6 class="font-weight-medium">Kdv Oranı</h6>
							<h6 id="kdv" class="font-weight-medium">@kdv.ToString("0.00") ₺</h6>
						</div>

						<br />
					</div>

					<div class="pt-2">
						<div class="d-flex justify-content-between mt-2">
							<h5>Toplam Tutar</h5>
							<h5>
								<span id="totalpricewithkdv">@TotalPrice.ToString("0.00") ₺</span>
							</h5>
						</div>
					</div>
					<button id="successpay" class="btn btn-block btn-warning font-weight-bold my-3">Siparişi Tamamla</button>
				</div>

			</div>
		</div>

	</div>


</body>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
	function DeleteToBasket(basketId) {

		$.ajax({
			url: '/Basket/DeleteBasket/' + basketId,
			type: 'GET',
			success: function(response) {
				swal("Başarılı!", "Ürün sepetten silindi.", "success")
				.then(() => {
					location.reload();
				});
			},
			error: function(err) {
				swal("Hata!", "Ürün silinirken bir sorun oluştu.", "error");
				console.error("Hata:", err);
			}
		});
	}
</script>